.App {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.manifest-table.loading {
  color: gray;
}

td, th {
  border: solid 1px black; 
}